{% extends "_layout.jinja" %}

{% block title %}Changelog | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Changelog</h2>

<h4>What is this?</h4>
<p>
  This page details the changes that have been made to the site, task runner, and Discord bot over time. You don't need to know the information on this page, but it's provided
  as a record of those changes.
</p>

<hr>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-26</h5>
    <div class="card-text">
      <ul>
        <li>Fix error when deleting an event position that controllers have already registered for.</li>
        <li>Small homepage CSS tweaks for mobile devices</li>
        <li>Fix error page</li>
        <li>Add 2 more controllers to the COTM panel on the homepage</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-24</h5>
    <div class="card-text">
      <ul>
        <li>Privacy policy page added.</li>
        <li>Small changes to activity report.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-23</h5>
    <div class="card-text">
      <ul>
        <li>Sr Staff activity report feature.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-22</h5>
    <div class="card-text">
      <ul>
        <li>Sr Staff can edit controller feedback before posting (mostly to remove PII).</li>
        <li>Controller training notes are a bit more lively-looking.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-21</h5>
    <div class="card-text">
      <ul>
        <li>Login sessions will last much longer.</li>
        <li>Audit reporting for some events to another Discord webhook.</li>
        <li>Approved feedback from the ADH site imported here.</li>
        <li>Controllers can see their own feedback on their controller page.</li>
        <li>Sr Staff notifications of new controller feedback.</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-20</h5>
    <div class="card-text">
      <ul>
        <li>The right-side cards on the homepage auto-refresh every so often</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-19</h5>
    <div class="card-text">
      <ul>
        <li>Faster activity updating for active controllers</li>
        <li>Sr Staff can silently approve controller feedback (i.e. not send it to Discord)</li>
        <li>Many of the tables on the site are sortable by clicking on the table headers</li>
        <li>When a new Discord member joins, the bot attempts to update them immediately</li>
        <li>Sr Staff can remove controllers (home and visiting) from the roster</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-16</h5>
    <div class="card-text">
      <ul>
        <li>Fix top-nav not showing on changelog page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-14</h5>
    <div class="card-text">
      <ul>
        <li>Add flights not starting or ending in facility airports but physically located in its airspace to home and flights pages</li>
        <li>Add this changelog page</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-14</h5>
    <div class="card-text">
      <ul>
        <li>Fix for adding OIs to new roster controllers</li>
        <li>Restrict event notes to 500 characters</li>
        <li>Fix position matching for off-roster controllers</li>
        <li>Create editable email templates for Sr. Staff</li>
        <li>Fix manual-email-send post-form-submission redirect destination</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-13</h5>
    <div class="card-text">
      <ul>
        <li>Improved the online controllers message in Discord</li>
        <li>Code cleanup</li>
        <li>Fix roster page showing 'none' certificates as certified</li>
        <li>Added 'bot-ignore' support for Discord nicknames</li>
        <li>Reduce activity task delay to 6 hours</li>
        <li>Reduce roster task delay to 2 hours</li>
      </ul>
    </div>
  </div>
</div>

<div class="card shadow mb-3">
  <div class="card-body">
    <h5 class="card-title">2024-10-12</h5>
    <p class="card-text">
      Site released! Welcome to v1.0.0.
    </p>
  </div>
</div>

{% endblock %}
