{% extends "_layout.jinja" %}

{% block title %}Privacy policy | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Privacy policy</h2>

<h3 class="pt-3">Information the site uses</h3>

<p>
  When you join VATUSA's ZDV facility, various pieces of information from VATSIM and VATUSA are used, including CID, first name, last name,
  email, ratings, and controlling history.
  <br><br>
  When you sign into the site, various pieces of information from VATSIM and VATUSA are used, including CID, first name, and last name, along
  with information sent from your browser, like IP address and user agent.
  <br><br>
  Your email is never shared with anyone, while your CID, first name, and last name are commonly used across the site
  and Discord server.
  <br><br>
  When you link your Discord account, your Discord user ID is stored on this site.
  <br><br>
  When you join the Discord server, Discord may record any amount of data about that process. This site does not store that information.
  <br><br>
  No parts of your information are sold nor shared for any sort of marketing purposes. The only people who have access to this site's data
  are the facility's ATM, DATM, and WM along with, technically, the hosting providers.
</p>

<h3 class="pt-3">Cookies</h3>

<p>
  When you log in, a <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookie</a> is placed in your browser. This cookie will be
  valid for a certain duration. This cookie is not required to use parts of the site, but is required for many features. If you do not want this cookie
  on your browser, you will not be able to log in. If you wish to delete this cookie from your browser, you may certainly do so, but note that
  doing so will effectively log you out from this site and you will need to log back in to use some of the site's features.
</p>

<h3 class="pt-3">Opting out</h3>

<p>
  The only way to opt out of this data usage is to refrain from using this site.
</p>

<h3 class="pt-3">Requesting deletion of your data</h3>

<p>
  To request deletion of your data from this site, please send an email to the facility's WM with your VATSIM CID and allow
  time for them to respond. Please note that this will not include removal of any of your data from VATSIM, VATUSA, or Discord.
  To request data deletion from those systems, please contact them.
</p>

<h3 class="pt-3">Government compliance</h3>

<p>
  This site was created in and is hosted by providers in the United States.
  <br><br>
  In the exceedingly unlikely incident where the owners of this site are contacted by law enforcement with lawful orders for compliance,
  your data may be given to authorities. No such demands/requests have been made as of 2026-01-01.
</p>

{% endblock %}
