{% extends "_layout.jinja" %}

{% block title %}Resources | {{ super() }}{% endblock %}

{% block body %}

<h2>Resources</h2>

{% for category in categories %}
  <div class="pt-2">
    <div class="card shadow-sm mb-3">
      <div class="card-header">{{ category }}</div>
      <div class="card-body pt-0 pb-0">
        <ul class="list-group list-group-flush">
          {% for resource in resources %}
            {% if resource.category == category %}
              <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-start">
                  {% if resource.file_name %}
                    <a href="/assets/{{ resource.file_name }}" class="text-decoration-none" target="_blank">{{ resource.name }}</a>
                  {% else %}
                    <a href="{{ resource.link }}" class="text-decoration-none" target="_blank">{{ resource.name }}</a>
                  {% endif %}
                  <div>
                    <span>{{ resource.updated|simple_date }}</span>
                    <!--
                    {% if category == "SOPs" and user_info %}
                      <div class="ms-3 form-check-inline">
                        {% if sop_initials[resource.id] %}
                          <button type="button" class="btn btn-sm btn-dark" disabled>Signed</button>
                        {% else %}
                          <button type="button" class="btn btn-sm btn-outline-warning" title="You must sign to acknowledge compliance" onclick="openModal({{ resource.id }})">Sign</button>
                        {% endif %}
                      </div>
                    {% endif %}
                    -->
                  </div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endfor %}

<dialog id="modalInitialSOP">
  <h2 class="pb-3">Sign SOP</h2>
  <p>
    By clicking Submit, you assert that you have opened and read the SOP document and will adhere to its contents.
  </p>
  <form action="/facility/resources" method="POST">
    <input type="hidden" name="resource_id" id="resource_id" value="">
    <div class="row mt-3">
      <div class="d-flex justify-content-between">
        <button class="btn btn-warning" role="button" id="btn-modal-initial-sop-close">Close</button>
        <button class="btn btn-primary" role="button" type="submit">Submit</button>
      </div>
    </div>
  </form>
</dialog>

<script>
document.getElementById("btn-modal-initial-sop-close").addEventListener("click", (e) => {
  e.preventDefault();
  document.getElementById("modalInitialSOP").close();
});

function openModal(resourceId) {
  document.getElementById("resource_id").value = resourceId;
  document.getElementById("modalInitialSOP").showModal();
}
</script>

{% endblock %}
