<div class="d-flex justify-content-around pb-3 pb-3">
  <a href="https://skyvector.com/airport/DEN/Denver-International-Airport" target="_blank">SkyVector</a>
  <a href="https://metar-taf.com/KDEN" target="_blank">METAR & TAF</a>
  <a href="https://runway.airportdb.io/airport/KDEN" target="_blank">Runways</a>
</div>

<ul class="nav nav-tabs" role="tablist">
  <button class="nav-link active" id="tab-weather-tab" data-bs-toggle="tab" data-bs-target="#tab-weather" type="button" role="tab" aria-controls="tab-weather" aria-selected="true">Weather</button>
  <button class="nav-link" id="tab-config-tab" data-bs-toggle="tab" data-bs-target="#tab-config" type="button" role="tab" aria-controls="tab-config" aria-selected="false">Runways</button>
  <button class="nav-link" id="tab-real-world-tab" data-bs-toggle="tab" data-bs-target="#tab-real-world" type="button" role="tab" aria-controls="tab-real-world" aria-selected="false">Real World</button>
</ul>

<div class="tab-content pt-3">
  <div class="tab-pane fade show active" id="tab-weather" role="tabpanel" aria-labelledby="nav-weather-tab" tabindex="0">
    <table class="table table-striped table-hover sortable">
      <thead></thead>
      <tbody>
        <tr>
          <th>Conditions</th>
          <td>
            {% if weather.conditions == 'VFR' %}
              <span class="badge rounded-pill text-bg-success">{{ weather.conditions }}</span>
            {% elif weather.conditions == 'MVFR' %}
              <span class="badge rounded-pill text-bg-info">{{ weather.conditions }}</span>
            {% elif weather.conditions == 'IFR' %}
              <span class="badge rounded-pill text-bg-danger">{{ weather.conditions }}</span>
            {% else %}
              <span class="badge rounded-pill" style="background-color: purple;">{{ weather.conditions }}</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Visibility</th>
          <td>{{ weather.visibility }} SM</td>
        </td>
        <tr>
          <th>Wind</th>
          <td>{{ weather.wind }}</td> {# TODO #}
        </td>
        <tr>
          <th>Ceiling</th>
          <td>
            {% if weather.ceiling == 3456 %}
              Clear
            {% else %}
              {{ weather.ceiling|format_number }} ft
            {% endif %}
          </td>
        </td>
        <tr>
          <th>METAR</th>
          <td>{{ weather.raw }}</td>
        </td>
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="tab-config" role="tabpanel" aria-labelledby="tab-config-tab" tabindex="0">
    <p>
      <strong>Important!</strong> If KDEN is being controlled by online ATC, you must still use whichever
      configuration they're advertising in their ATIS regardless of what is listed here.
    </p>
    <br>
    <h3>Config</h3>
    <table class="table table-striped table-hover sortable">
      <thead></thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{ runway_config }}</td>
        </tr>
        <tr>
          <th>Departing</th>
          <td>{{ departing }}</td>
        </tr>
        <tr>
          <th>Landing</th>
          <td>{{ landing }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="pt-3">Wind components</h3>
    <table class="table table-striped table-hover sortable">
      <thead>
        <tr>
          <th>Ruwnay</th>
          <th>Head</th>
          <th>Tail</th>
          <th>Cross</th>
        </tr>
      </thead>
      <tbody>
        {# TODO #}
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="tab-real-world" role="tabpanel" aria-labelledby="tab-real-world-tab" tabindex="0">
    {% for atis in real_world %}
      <p>{{ atis.type|upper }} ATIS <strong>{{ atis.code }}</strong>: {{ atis.datis }}</p>
    {% endfor %}
  </div>
</div>
