{% extends "_layout.jinja" %}

{% block title %}Home | Training | {{ super() }}{% endblock %}

{% block head_extra %}
<style>
  dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.2);
  }
  dialog {
    background-color: var(--bs-body-bg);
    width: 30%;
    border: none;
    border-radius: 1.5rem;
  }
  .btn-no-cursor {
    cursor: default !important;
  }
</style>
{% endblock %}

{% block body %}

<h2 class="pb-4">Training home</h2>

<p class="text-danger d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none">This page does not work well on mobile.</p>

<div class="d-flex justify-content-center">
  <h4 class="pb-1">Your progress</h4>
</div>
<div class="d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Certs and ratings">
    {% for item in progress_strip %}
      <button type="button" class="btn btn-no-cursor btn-outline-{{ item.style }}">{{ item.name }}</button>
    {% endfor %}
  </div>
</div>

<div class="pt-2 d-flex justify-content-center">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" class="text-decoration-none" target="_blank">
        <i class="bi bi-diagram-3"></i>
        Home controller flowchart
      </a></li>
      <li class="breadcrumb-item"><a href="#" class="text-decoration-none" target="_blank">
        <i class="bi bi-diagram-3"></i>
        Visiting controller flowchart
      </a></li>
      <li class="breadcrumb-item"><a href="https://academy.vatusa.net/" class="text-decoration-none" target="_blank">
        <i class="bi bi-book"></i>
        VATUSA Academy
      </a></li>
      <li class="breadcrumb-item"><a href="/training/my_notes" class="text-decoration-none">
        <i class="bi bi-clipboard-check"></i>
        Your training notes
      </a></li>
    </ol>
  </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap5@6.1.15/index.global.min.js"></script>

<div class="row mb-3" style="border-bottom: 1px solid white">
  <h4 class="pt-3">
    {% if is_training_staff %}
      Schedule Training and Availability
    {% else %}
      Schedule Training
    {% endif %}
  </h4>
</div>

<div class="row">
  <div class="col-9">
    <div id="calendar"></div>
  </div>
  <div class="col">
    <div class="clearfix">
      <button role="button" class="float-end btn btn-outline-light" onclick="modalLegend.showModal()">
        <i class="bi bi-info-circle"></i>
        Legend
      </button>
    </div>
    <h4 class="pt-5">Your upcoming sessions</h4>
    <ul>
      <li>10/31/24 @ 10am: S3 conceptual review</li>
    </ul>
  </div>
</div>

<dialog id="modalLegend">
  <h2 class="pb-3">Legend</h2>
  <ul>
    <li>Sessions in <span class="text-danger">red</span> are sessions that you are the student for. Please come to your sessions prepared.</li>
    <li>Sessions in <span class="text-success">green</span> are available training slots. Be sure to pick one that supports the rating or certification you're looking for!</li>
    <li>Sessions in <span class="text-body-tertiary">gray</span> are unavailable (taken) training slots.</li>
    <li>For <strong>trainers</strong>, sessions in <span class="text-primary">blue</span> are your open (unaccepted) sessions, and sessions in <span class="text-warning">yellow</span> are sessions that a student has accepted.</li>
  </ul>
  <div class="d-flex justify-content-end">
    <button class="btn btn-warning" role="button" id="btnModalLegendClose">Close</button>
  </div>
</dialog>

<dialog id="modalDeleteAvailability">
  TODO
</dialog>

<dialog id="modalCancelSession">
  TODO
</dialog>

<dialog id="modalAcceptSession">
  <h2 class="pb-3">Accept the session</h2>
  <div class="row mb-3">
    <div class="col"><strong>Start</strong>: <span id="sessionEnd"></span></div>
    <div class="col"><strong>End</strong>: <span id="sessionStart"></span></div>
  </div>
  <form action="/training/session/accept" method="POST">
    <div class="row mb-3">
      <div class="col">
        <input type="hidden" name="session" value="0">
        <label class="form-label" for="position">Position</label>
        <select class="form-control" name="position" required>
          <option value="" disabled>None</option>
          <!-- TODO -->
        </select>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button class="btn btn-warning" role="button" id="btnMOdalAcceptClose">Close</button>
      <button class="btn btn-success" role="button" type="submit">Save</button>
    </div>
  </form>
</dialog>

<span class="d-none" id="cid">{{ controller.cid }}</span>
<span class="d-none" id="is_training_staff">{{ is_training_staff }}</span>

<script>
  const cid = Number(document.getElementById('cid').textContent);
  const isTrainingStaff = document.getElementById('is_training_staff').textContent === 'true';

  document.getElementById('btnModalLegendClose').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalLegend').close();
  });

  document.getElementById('btnMOdalAcceptClose').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalAcceptSession').close();
  });

  const calendarEl = document.getElementById("calendar");
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      themeSystem: "bootstrap5",
      headerToolbar: {
        left: "prev,next",
        center: "title",
        right: "today,dayGridMonth,timeGridWeek,timeGridDay"
      },
      events: "/training/sessions",
      selectable: isTrainingStaff,
      select(e) {
        e.jsEvent.preventDefault();
        if (!isTrainingStaff) {
          return;
        }
        if (e.allDay) {
          calendar.unselect();
          return;
        }
        const res = window.confirm("Create a new availability at this time?");
        if (res) {
          calendar.addEvent({
            title: "Trainer availability: ??",
            start: e.start,
            end: e.end
          });
          // add to external source ...
        }
        calendar.unselect();
      },
      eventClick(e) {
        e.jsEvent.preventDefault();
        const event = e.event;
        console.log(JSON.stringify(event, null, 2));
        if (event.extendedProps.taken) {
          if (event.extendedProps.cid === cid) {
            console.log("do something");
            return;
          } if (event.extendedProps.taken_by === cid) {
            console.log("do something");
            return;
          }
        } else {
          const modalAcceptSession = document.getElementById("modalAcceptSession");
          modalAcceptSession.querySelector("input[name='session']").value = e.event.id;
          modalAcceptSession.querySelector("#sessionStart").textContent = event.start;
          modalAcceptSession.querySelector("#sessionEnd").textContent = event.end;
          modalAcceptSession.showModal();
        }
      },
    });
    calendar.render();
</script>

{% endblock %}
