{% extends "_layout.jinja" %}

{% block title %}Activity report | {{ super() }}{% endblock %}

{% block body %}

<div id="report-area">
  <h2>Activity report</h2>
  <p>
    Click this button to load the activity report for the facility.<br>
    It can take a short while to generate.
  </p>
  <p class="pb-3">
    This report shows rated controllers who have not met the activity requirement in the last 3 months
    and Observer controllers who have had no training notes added from this facility in the same time frame.
  </p>

  <p class="mb-1">Select 3 months from the control to use for the report. Use the Control/Command buttons to select multiple.</p>
  <form hx-get="/admin/activity_report/generate" hx-target="#report-area" hx-indicator="#activity-report-retrieve-indicator">
    <div class="row mb-3">
      <div class="col">
        <select name="month" id="month" class="form-select" size="{{ months|length }}" multiple required>
          <option disabled selected>Select months</option>
          {% for month in months %}
            <option value="{{ month }}">{{ month }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <button class="btn btn-primary" role="button" type="submit">
      <i class="bi bi-search"></i>
      Retrieve
    </button>
  </form>

  <div class="htmx-indicator pt-2 ps-1" id="activity-report-retrieve-indicator">
    <svg
      width="38"
      height="38"
      viewBox="0 0 38 38"
      xmlns="http://www.w3.org/2000/svg"
      stroke="#fff"
    >
      <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
          <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
          <path d="M36 18c0-9.94-8.06-18-18-18">
            <animateTransform
              attributeName="transform"
              type="rotate"
              from="0 18 18"
              to="360 18 18"
              dur="1s"
              repeatCount="indefinite"
            />
          </path>
        </g>
      </g>
    </svg>
  </div>
</div>

<script src="/static/sorttable.js"></script>

<script>
document.addEventListener("htmx:afterRequest", (event) => {
  const table = document.querySelector("table");
  sorttable.makeSortable(table);
});
</script>

{% endblock %}
