{% extends "_layout.jinja" %}

{% block title %}Solo certs | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Solo certs</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Student</th>
      <th>Trainer</th>
      <th>Position</th>
      <th>VATUSA notified</th>
      <th>Created</th>
      <th>Expiration</th>
    </tr>
  </thead>
  <tbody>
    {% for cert in solo_certs %}
      <tr>
        <td>
          {{ cids_and_names[cert.cid][0] }} {{ cids_and_names[cert.cid][1] }}
          <a href="/controller/{{ cert.cid }}" class="icon-link icon-link-hover text-decoration-none">
            <i class="bi bi-arrow-right-short"></i>
          </a>
        </td>
        <td>{{ cids_and_names[cert.issued_by][0] }} {{ cids_and_names[cert.issued_by][1] }}</td>
        <td>{{ cert.position }}</td>
        <td>{{ cert.reported }}</td>
        <td>{{ cert.created_date|simple_date }}</td>
        <td>{{ cert.expiration_date|simple_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
