<h4>
  <a href="/airspace/flights" class="icon-link icon-link-hover text-decoration-none">
    Flights
    <i class="bi bi-arrow-right-short"></i>
  </a>
</h4>
<p class="ms-2">
  <span title="Starting and ending at local fields">
    <strong>Planned within</strong>: {{ flights.plan_within }}
  </span>
  <br>
  <span title="From local fields to outside the airspace">
    <strong>Planned from</strong>: {{ flights.plan_from }}
  </span>
  <br>
  <span title="From outside airspace to local fields">
    <strong>Planned to</strong>: {{ flights.plan_to }}
  </span>
  <br>
  <span title="Currently inside the airspace">
    <strong>In airspace</strong>: {{ flights.actually_within }}
  </span>
</p>
